<!DOCTYPE html>
<html>
  <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p></p>


<div id="root"></div>


    <script src="/javascripts/api.js"></script>
  </body>
</html>
