body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	background-color: lightblue;
	padding: 15px;
	border-radius: 5px;
	margin: 5px;
}
.card:hover {
	background-color: lightgrey;
}
.link {
	text-decoration: none;
}
.launchcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.video {
	width: 100%;
	text-align: center;
}
.launchcard {
	background-color: lightblue;
	border-radius: 15px;
	padding: 25px;
	margin: 5px;
}
img {
	width: 50%;
  margin-left: 25%;
	margin-top: 50px;
}
.title {
	width: 100%;
	text-align: center;
}
